.custom-navbar {
    background-color: white !important;
  }
  
  .navbar-nav .nav-link {
    color: black; 
    transition: color 0.3s ease; 
  }
  
  .navbar-nav .nav-link:hover {
    color: #D781A8;
  }
  